<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hoha: Automatic Door</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>    
    <div class="bgimg">
        <div class="topleft">
          <p>Automatic door</p>
        </div>
        <div class="middle">
          <h1>CLICK HERE TO</h1>
          <hr>
          <button class="btn btn-success"><a href="/open">OPEN</a></button>
          <button class="btn btn-danger"><a href="/close">CLOSE</a></button>   
        </div>
        <div class="bottomleft">
          <p>Hoha Team</p>
        </div>
    </div>     
  </body>
</html>

